.homeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.departmentRow {
  height: 350px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main);
  color: var(--accent1);
  width: 100%;
  position: relative;
  border-radius: 8px;
}



.rowHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 20px;
}

.productRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* position: relative; */
  /* overflow-x: auto; */
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 40px)
}

.depTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--accent1);
  width: fit-content;
  color: var(--main);
  padding: 0 10px;
  border-radius: 8px;
}

.arrowBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--accent1);
  font-size: 3rem;
  font-weight: bold;
  color: var(--accent1);
  background-color: var(--main);
  height: fit-content;
  cursor: pointer;
  z-index: 10;
  opacity: 0.55;
}

.arrowBtn:hover {
  opacity: 1;
}

.arrowBtn.left {
  left: 0;
}

.arrowBtn.right {
  right: 0;
}

.productCol {
  display: inline-block;
  height: 100%;
  margin: 0 10px;
}
.flashSale {
  background-color: var(--accent1);
  display: flex;
  width: fit-content;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flashRow {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 0 10px;
}
.carousel-item {
  height: 350px;
  width: 100%;

}
.carousel-container {
  position: relative;
  width: 350px;
  height: 550px;
  overflow: hidden;
}

.custom-carousel-item {
  height: 350px;
  width: 350px;
}

/* Add your styles for oldPrice, salePrice, and saleProd here */

.flashCard, .carousel-item {
  width: 350px; /* Set to your desired fixed width */
}

.flashCard.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* If you want to set a fixed height for the image as well */
.card-img-top {
  max-height: 150px; /* Adjust according to your needs */
  object-fit: cover; /* To keep aspect ratio */
}

@media (max-width: 768px) {
  .departmentRow {
    height: 300px;
  }
  .productRow {
    height: calc(100% - 30px);
  }
  .arrowBtn {
    font-size: 2rem;
  }
  .depTitle {
    font-size: .9rem;
  }
  .viewAll {
    font-size: .8rem;
  }
}
  
