.homeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.departmentRow {
  height: 350px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main);
  color: var(--accent1);
  width: 100%;
  position: relative;
}

.rowHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 20px;
}

.productRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* position: relative; */
  /* overflow-x: auto; */
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 40px)
}

.arrowBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--accent1);
  font-size: 3rem;
  font-weight: bold;
  color: var(--accent1);
  background-color: var(--main);
  height: fit-content;
  cursor: pointer;
  z-index: 10;
  opacity: 0.55;
}

.arrowBtn:hover {
  opacity: 1;
}

.arrowBtn.left {
  left: 0;
}

.arrowBtn.right {
  right: 0;
}

.productCol {
  display: inline-block;
  height: 100%;
  margin: 0 10px;
}

