.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main);
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 0 0 100px;
  
}
.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
a.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--accent1);
  position: relative;
  margin: 0 0 0 10px;
}
.storeName {
  margin: 0;
}
.logo {
  width: 50px;
  height: 50px;
}
.menuToggleDiv {
  position: relative;
}

.navToolTip {
  position: relative;
  display: inline-block;
}

.navToolTip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(110%);
  background-color: var(--accent1);
  color: var(--main);
  border: 1px solid var(--main);
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1;
}


.searchDiv {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 40px;
  width: 70%;
  padding: 0;
  margin: 0;
}
.searchBar {
  background-color: var(--accent1);
  border-radius: 8px;
  border: 1px solid var(--accent1);
  color: var(--main);
  width: 70%;
  height: 100%;
  margin-right: 5px;
  
}
.searchBtn {
  width: 50px;
  height: 100%;
}

.searchBtn.disabled {
  color: var(--main);
  width: 50px;
  height: 100%;
}

.menuBtn {
  padding: 1px;
  width: 50px;
  height: 50px;
  border: 1px solid var(--accent1);
}
.userImg {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.offcanvas {
  padding: 10px;
  color: var(--main);
  background-color: var(--accent1);
}

.offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px;
}
.offcanvas-header .col {
  display: flex;
  justify-content: center;
}
.loginBtn {
  margin: 5px;
}
.loggedMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

